.Inicio {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  
.Info-Inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contenido-Inicio {
    display: flex;
    max-width: 1200px;
    width: 90%;
    text-align: left;
    align-items: center;
}
  
.contenido-Inicio img {
    max-width: 250%;
    height: 250%;
    margin-right: 20%; 
    margin-left: 10%;
}
  
.text-content {
    max-width: 50%;
}
  
.text-content h2 {
    color: #ffffff; 
    font-size: 35px;
}
  
.text-content p {
    color: #ececec; 
    font-size: 20px;
}
  
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  