* {
    padding: 0;
    margin: 0
}

body {
    background-color: #191919;
    font-family: "Segoe IU", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #974400;
    text-align: center;
    justify-content: space-evenly;
}