.section {
    margin: 0 auto;
    width: 80%;
  }
  
.caja {
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 0 15px 0 #974400;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 10px;
}
  
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
  
li {
    text-align: center;
    margin-bottom: 5px;
}