

.contenedorCarrusel{
    background-color: rgb(105, 165, 217);
    /*width: 100vw;     vw = vista horizontal*/
    /*height: 100vh;    vh = vista vertical*/
    /*height: 300px;    px = pixeles*/
    /*height: 50%;      %  = porcentaje basado en las dimenciones del padre*/
    height: 300px;
}

.itemCar{
    background-color: rgb(187, 188, 221);
    position: relative;
    height: 100%;
}

/*section.itemCar.uno {
    background-color: green;
}

section.itemCar.dos {
    background-color: rgb(0, 128, 109);
}

section.itemCar.tres {
    background-color: rgb(100, 0, 128);
}*/

.contenidoCar {
    height: 100%;
}

div .flechasCar {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


