.header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.navBar {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.navBar h2{
    background: #000000;
    color: #fff;
    height: 60%;
    width: 120px;
    text-align: center;
    border: dashed 2px #fff;
}
.navBar h2:hover{
    background: #fff;
    color: #000000;
    border: dashed 2px #000000;
    box-shadow: 0 0 50px #fff;
}
.navList {
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navList a {
    background: #000000;
    color: #ffffff;
    height: 40%;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    border: solid 2px #fff;
}
.navList a:hover {
    background: #fff;
    color: #000000;
    border: solid 2px #000000;
}